@import "tailwindcss";
/* ===== Projects Section ===== */


/* Title */
#projectss h3 {
  color: #38bdf8;
  letter-spacing: 1px;
}

/* Grid Cards */
.project-card {
  background: #111827;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: 0.4s ease;
  cursor: pointer;
}

/* Hover effect */
.project-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 50px rgba(56, 189, 248, 0.2);
}

/* Image */
.project-card img {
  width: 700%;
  height: 120PX;
  object-fit: cover;
  transition: 0.4s;
}

.project-card:hover img {
  transform: scale(1.1);
}

/* Content */
.project-card .p-5 {
  padding: 16px;
}

.project-card h4 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #38bdf8;
}

.project-card p {
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 12px;
}

/* Button link */
.project-card a {
  display: inline-block;
  padding: 8px 14px;
  background: #38bdf8;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.project-card a:hover {
  background: #0ea5e9;
  transform: scale(1.05);
}